<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="tuvannetviet_comConnectionString"
             connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=perfectsqs.com;Persist Security Info=True;User ID=sa;Password=Perfect123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" executionTimeout="3600" maxRequestLength="1024000" appRequestQueueLimit="100" requestLengthDiskThreshold="100240000" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
    </httpHandlers>
  </system.web>
  <appSettings>
    <add key="LogFiles" value="LogFiles\error.log"/>
    <!--<add key="Subweb" value="/eshop"/>-->

    <add key="URLWebsite1" value="http://perfectsqs.com" />

    <add key="Email" value="no-reply@dangcapviet.vn" />
    <add key="EmailPassword" value="B9ETFXTH6h" />
    <add key="EmailDisplayName" value="perfectsqs.com" />
    <add key="EmailHost" value="mail.dangcapviet.vn" />
    <add key="EmailPort" value="25" />
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
